* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;

}

body {
    background-color: black;
}


section {

    height: 1000px;
}



.nav-header {
    position: fixed;
    top: 0px;
    z-index: 1;
    height: 60px;
    background-color: #14213d;
    width: 100vw;
}

.heading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    font-size: 4rem;
    text-align: center;
    color: #fca311;
}


@keyframes typer {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
    


.typer {
    position: absolute;
    background-color: #e5e5e5;
    height: 4rem;
    width: 1rem;
    right: 34%;
    animation: typer 2s infinite;
    border-radius: 2px;
}